<p-card header="Search" class="p-2">
    <div [formGroup]="searchUserForm" novalidate>
        <div class="grid">
            <div class="col-12 md:col-8 lg:col-10 xl:col-11">
                <input pInputText class="p-inputtext" id="searchQuery" aria-describedby="searchQuery"
                    formControlName="searchQuery" />

            </div>
            <div class="col-12 md:col-4 lg:col-2 xl:col-1">
                <p-button label="Search" icon="pi pi-search" (onClick)="onSearchClick()"></p-button>
            </div>
        </div>
    </div>
</p-card>

<app-user-list [users]="users" [userListTitle]="'User Search Results'"></app-user-list>