<p-accordion class="p-2">
    <p-accordionTab header="Search Users" [selected]="isSearchAccoridonExpanded"
        (selectedChange)="isSearchAccoridonExpanded = !isSearchAccoridonExpanded">
        <p-card>
            <div [formGroup]="searchUserForm" novalidate>
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                        <label class="pb-2" htmlFor="username" for="username">Username</label>
                        <input pInputText class="p-inputtext" id="username" aria-describedby="username"
                            formControlName="username" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label class="pb-2" htmlFor="fullName" for="fullName">Full Name</label>
                        <input pInputText class="p-inputtext" id="fullName" aria-describedby="fullName"
                            formControlName="fullName" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label class="pb-2" htmlFor="emailAddress" for="emailAddress">Email Address</label>
                        <input pInputText class="p-inputtext" id="emailAddress" aria-describedby="emailAddress"
                            formControlName="emailAddress" />
                    </div>
                    <div class="col-12 md:col-6 lg:col-6">
                        <label class="pb-2" htmlFor="homeCourseName" for="homeCourseName">Home Course Name</label>
                        <input pInputText class="p-inputtext" id="homeCourseName" aria-describedby="homeCourseName"
                            formControlName="homeCourseName" />
                    </div>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <p-button label="Search" icon="pi pi-search" (onClick)="onSearchClick()"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </p-accordionTab>

</p-accordion>


<app-user-list [users]="users" [userListTitle]="'User Search Results'"></app-user-list>