<div class="container">
    <p-card header="Add new user">
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
            <span class="p-float-label m-4">
                <input type="text" pInputText formControlName="username" />
                <label htmlFor="username">Username</label>
                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors?.['minlength']">
                        <p class="text-danger">Username must be at least 4 characters long.</p>
                    </div>
                    <div *ngIf="username.errors?.['maxlength']">
                        <p class="text-danger">Username must be fewer than 36 characters long.</p>
                    </div>
                </div>
            </span>
            <span class="p-float-label m-4">
                <input type="password" pInputText formControlName="password" />
                <label htmlFor="password">Password</label>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['minlength']">
                        <p class="text-danger">Password must be at least 4 characters long.</p>
                    </div>
                    <div *ngIf="password.errors?.['maxlength']">
                        <p class="text-danger">Password must be fewer than 100 characters long.</p>
                    </div>
                </div>
            </span>
            <span class="p-float-label m-4">
                <input type="text" pInputText formControlName="name" />
                <label htmlFor="name">Name</label>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors?.['minlength']">
                        <p class="text-danger">Name must be at least 4 characters long.</p>
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                        <p class="text-danger">Name must be fewer than 100 characters long.</p>
                    </div>
                </div>
            </span>
            <span class="p-float-label m-4">
                <input type="text" pInputText formControlName="email" />
                <label htmlFor="email">Email</label>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['email']">
                        <p class="text-danger">Must be a valid email address.</p>
                    </div>
                </div>
            </span>
            <span class=" p-float-label m-4">
                <p-dropdown formControlName="golfCourse" [options]="golfCourses" optionLabel="name" [filter]="true"
                    filterBy="name" placeholder="Select your home course"></p-dropdown>
                <label htmlFor="golfCourse">Home Course</label>
            </span>
            <span class="p-float-label m-4">
                <p-button type="submit" label="Submit" [disabled]="!createUserForm.valid"></p-button>
            </span>
        </form>
    </p-card>
</div>