@import './variables.scss';

::ng-deep {
    p-table {
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: normal;
        color: $mulligan-gray-900;
    }

    .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
        border-top: 1px solid $mulligan-green-main;
        border-bottom: 1px solid $mulligan-green-main;
        background-color: $mulligan-green-tertiary;
    }

    .p-datatable .p-sortable-column {
        color: $mulligan-gray-900;
    }

    .p-datatable .p-sortable-column:hover {
        background-color: $mulligan-green-tertiary;
    }

    .p-datatable .p-sortable-column .p-sortable-column-icon {
        color: $mulligan-gray-900;
    }

}