/* Variables */
$mulligan-green-main: #076652;
$mulligan-green-accent: #0766515b;
$mulligan-green-tertiary: #0766512c;

$mulligan-gray-900: #333333;
$mulligan-gray-800: #5f5f5f;
$mulligan-gray-700: #707070;
$mulligan-gray-600: #909090;
$mulligan-gray-550: #afafaf;
$mulligan-gray-500: #cccccc;
$mulligan-gray-450: #dee2e6;
$mulligan-gray-400: #d9d9d9;
$mulligan-gray-300: #eaeaea;
$mulligan-gray-200: #eeeeee;
$mulligan-gray-100: #fafafa;

$mulligan-bg-gray-200: #f5f5f5;
$mulligan-bg-gray-100: #ffffff;
$mulligan-bg-gray-300: #576571;