<p-card header="Edit golf course">
    <hr>
    <div [formGroup]="editGolfCourseForm" novalidate>
        <div class="row pb-2 pt-2">
            <div class="col-md-3">
                <label class="pb-2" htmlFor="name" for="name">Golf Course Name</label>
                <input pInputText class="p-inputtext" id="name" aria-describedby="name" formControlName="name"
                    [ngClass]="{'border-danger': validateRequiredFields('name')}" />
                <div *ngIf="editGolfCourseForm.get('name')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('name')" id="name">
                        Golf Course Name is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="city" for="city">City</label>
                <input type="city" pInputText class="p-inputtext" id="city" aria-describedby="city"
                    formControlName="city" [ngClass]="{'border-danger': validateRequiredFields('city')}" />
                <div *ngIf="editGolfCourseForm.get('city')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('city')" id="city">
                        City is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="subdivision" for="subdivision">Subdivision</label>
                <input type="subdivision" pInputText class="p-inputtext" id="subdivision" aria-describedby="subdivision"
                    formControlName="subdivision"
                    [ngClass]="{'border-danger': validateRequiredFields('subdivision')}" />
                <div *ngIf="editGolfCourseForm.get('subdivision')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('subdivision')" id="subdivision">
                        Subdivision is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="country" for="country">Country</label>
                <input type="country" pInputText class="p-inputtext" id="country" aria-describedby="country"
                    formControlName="country" [ngClass]="{'border-danger': validateRequiredFields('country')}" />
                <div *ngIf="editGolfCourseForm.get('country')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('country')" id="country">
                        Country is required.</small>
                </div>
            </div>
        </div>
        <div class="row pb-2 pt-2">
            <div class="col-md-3">
                <label class="pb-2" htmlFor="yardage" for="yardage">Yardage</label>
                <p-inputNumber class="p-inputnumber" id="yardage" aria-describedby="yardage" formControlName="yardage"
                    [ngClass]="{'border-danger': validateRequiredFields('yardage')}" />
                <div *ngIf="editGolfCourseForm.get('yardage')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('yardage')" id="yardage">
                        Yardage is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="par" for="par">Par</label>
                <p-inputNumber class="p-inputnumber" id="par" aria-describedby="par" formControlName="par"
                    [ngClass]="{'border-danger': validateRequiredFields('par')}" />
                <div *ngIf="editGolfCourseForm.get('par')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('par')" id="par">
                        Par is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="courseRating" for="courseRating">Course Rating</label>
                <p-inputNumber class="p-inputnumber" id="courseRating" aria-describedby="courseRating"
                    formControlName="courseRating" [maxFractionDigits]="1"
                    [ngClass]="{'border-danger': validateRequiredFields('courseRating')}" />
                <div *ngIf="editGolfCourseForm.get('courseRating')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('courseRating')" id="courseRating">
                        Course rating is required.</small>
                </div>
            </div>
            <div class="col-md-3">
                <label class="pb-2" htmlFor="slopeRating" for="slopeRating">Slope Rating</label>
                <p-inputNumber class="p-inputnumber" id="slopeRating" aria-describedby="slopeRating"
                    formControlName="slopeRating"
                    [ngClass]="{'border-danger': validateRequiredFields('slopeRating')}" />
                <div *ngIf="editGolfCourseForm.get('slopeRating')?.hasError('required')">
                    <small class="p-error block pt-2" *ngIf="validateRequiredFields('slopeRating')" id="slopeRating">
                        Slope rating is required.</small>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check" [disabled]="editGolfCourseForm.invalid || editGolfCourseForm.pristine"
            (onClick)="save()"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"
            (onClick)="back()"></p-button>
        <p-button label="Clear Form" [text]="true" styleClass="p-button-clear-form" (onClick)="clearForm()"></p-button>
    </ng-template>
</p-card>